:root {
    --aside-primary-color: #02061A;
    --aside-secondary-color: #597BFF;
    --font-color: #9EA8B7;
    --main-bg-color: #e2e9ee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: var(--font-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px;
    border-radius: 10px;
}

a:hover {
    color: white;
    background: var(--aside-secondary-color);
}

a span {
    margin-right: 10px;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 15% 1fr;
    font-family: 'Roboto', sans-serif;
}

aside {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--aside-primary-color);

}

aside h1 {
    color: white;
    margin: 50px 0;
}

aside nav {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

main {
    display: flex;
    flex-direction: column;
    background: var(--main-bg-color);
}

main header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: white;
}

header input {
    width: 200px;
    padding: 5px;
    outline: none;
    border: none;
}

.search {
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
}

.profile {
    display: flex;
    align-items: center;
}

.profile span {
    margin: 0 10px;
    cursor: pointer;
}

.usuarios {
    height: 80%;
    width: 100%;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-around;
    background: white;
}

.usuarios div span:last-child {
    margin-left: 10px;
    font-weight: 700;
}

#menos {
    color: red;
}

#mais {
    color: green;
}

.tabelas {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: white;
}

.tabelas table {
    text-align: left;
    
}

th, td {
    border-bottom: 1px solid #ddd;
    margin: 5px;
    padding: 10px 0;
}

.tabelas span {
    margin-bottom: 20px;
    font-weight: 700;
}


.dados {
    padding: 20px;
    height: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "titulo titulo titulo titulo"
    "usuarios1 usuarios2 usuarios3 usuarios4"
    "tabelas1 tabelas1 tabelas2 tabelas2"
    "tabelas3 tabelas3 tabelas4 tabelas4";
}

.dados h1 {
    font-size: 2rem;
    align-self: center;
}

.dados div {
    border-radius: 10px;
}

#numeros {
    font-size: 2rem;
    font-weight: 700;
}

#usuarios1 { grid-area: usuarios1;}
#usuarios2 { grid-area: usuarios2;}
#usuarios3 { grid-area: usuarios3;}
#usuarios4 { grid-area: usuarios4;}

#tabelas1 { grid-area: tabelas1;}
#tabelas2 { grid-area: tabelas2;}
#tabelas3 { grid-area: tabelas3;}
#tabelas4 { grid-area: tabelas4;}

#titulo { grid-area: titulo;}


@media (max-width: 750px) {
    .dados {
        display: flex;
        flex-direction: column;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    aside, aside nav {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    aside h1 {
        margin: 10px;
    } 
}